<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nexus.devops.test.com" value="https://nexus.devops.test.com/repository/nuget-group/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <nexus.devops.test.com>
      <add key="Username" value="puller" />
      <add key="ClearTextPassword" value="devops666" />
    </nexus.devops.test.com>
  </packageSourceCredentials>
</configuration>